{% extends "base.html" %}

{% block content %}
<h1>Proveedores</h1>
<h3>Listado de proveedores disponibles.</h3>

<div class="d-flex justify-content-end mb-3">
    <a href="{{ url_for('proveedor_form.nuevo_proveedor') }}" class="btn btn-success">
        <i class="bi bi-plus-circle me-2"></i> Nuevo proveedor
    </a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Producto</th>
            <th>Contacto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for proveedor in proveedores %}
        <tr>
            <td>{{ proveedor.nombre }}</td>
            <td>{{ proveedor.producto }}</td>
            <td>{{ proveedor.contacto }}</td>
            <td>
                <a href="{{ url_for('proveedor_form.editar_proveedor', nombre=proveedor.nombre) }}" class="btn btn-primary">Editar</a>
                <form action="{{ url_for('eliminar_proveedor', nombre=proveedor.nombre) }}" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p> Total de Registros: {{proveedores|length}}</p>
{% endblock %}